{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    
    <div class="col-md-5">
        <div class="title_1 delimited">{%trans%}Email server configuration{%endtrans%}</div>

        <form method="POST" action="/site/email/config">
            {{ wtf_smtp.csrf_token }}
            <p>
                {{ wtf_smtp.host.label }} <span class='required'>●</span><br />
                {{ wtf_smtp.host(class_="form-control") }}
                {% for error in wtf_smtp.host.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
                {{ wtf_smtp.port.label }} <span class='required'>●</span><br />
                {{ wtf_smtp.port(class_="form-control") }}
                {% for error in wtf_smtp.port.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            </p>
                {{ wtf_smtp.encryption.label }} <span class='required'>●</span><br />
                {{ wtf_smtp.encryption(class_="form-control") }}
            </p>
            </p>
                {{ wtf_smtp.user.label }}<br />
                {{ wtf_smtp.user(class_="form-control") }}
            </p>
            </p>
                {{ wtf_smtp.password.label }}<br />
                <input class="form-control" id="password" name="password" type="password" value="{{wtf_smtp.password.data}}">
            </p>
            </p>
                {{ wtf_smtp.noreplyAddress.label }} <span class='required'>●</span><br />
                {{ wtf_smtp.noreplyAddress(class_="form-control") }}
                {% for error in wtf_smtp.noreplyAddress.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            
            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Save changes{%endtrans%}">
            <a class="btn btn-primary" role="button" href="/admin">{%trans%}Cancel{%endtrans%}</a>
            </div>
        </form>

        <p>&nbsp;</p>

        <div class="title_1 delimited">{%trans%}Test configuration{%endtrans%}</div>
        
        <form method="POST" action="/site/email/test-config">
            {{ wtf_email.csrf_token }}
            <div class="input-group mb-3">
              <input id="email-recipient" name="email" type="text" class="form-control" placeholder="person@example.com" aria-label="Recipient's username" aria-describedby="button-sendmail">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-sendmail">{%trans%}Send{%endtrans%}</button>
              </div>
            </div>
        </form>
</div>
</div>

{% endblock %}
