{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">

<div class="container">
<div class="row">
    <div class="col-md-12">

    <div class="title_1 delimited">{%trans%}Users{%endtrans%}
        <div style="float:right">
            <a class="btn btn-primary btn-sm" role="button" href="/site/stats">
                {%trans%}Statistics{%endtrans%}<i class="fa fa-bar-chart" aria-hidden="true"></i>
            </a>
            {% set total_invites = invites.count() %}
            {% if total_invites == 0 %}
                <a class="btn btn-primary btn-sm" role="button" href="/admin/invites/new">
                    {%trans%}Invite a new user{%endtrans%}
                    <span class="badge badge-light">{{ total_invites }}</span>
                </a>
            {% else %}
                <a class="btn btn-primary btn-sm" role="button" href="/admin/invites">
                    {%trans%}Invitations{%endtrans%}
                    <span class="badge badge-light">{{ total_invites }}</span>
                </a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="/admin/users/csv">
                {%trans%}Download CSV{%endtrans%}
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <table id="users" style="display:none" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>{%trans%}Username{%endtrans%}</th>
            <th>{%trans%}Created{%endtrans%}</th>
            {% if g.is_root_user_enabled %}
                <th>{%trans%}Hostname{%endtrans%}</th>
            {% endif %}
            <th>{%trans%}Enabled{%endtrans%}</th>
            <th>{%trans%}Email{%endtrans%}</th>
            <th>{%trans%}Forms{%endtrans%}</th>
            <th>{%trans%}Admin{%endtrans%}</th>
        </tr>
    </thead>
    {% for user in users %}
    <tr>
        <td><a href="/admin/users/{{user.id}}">{{user.username}}</a></td>
        <td>{{user.created}}</td>
        {% if g.is_root_user_enabled %}
            <td>{{user.hostname}}</td>
        {% endif %}
        <td>{{user.enabled}}</td>
        <td>{{user.email}}</td>
        <td>{{user.get_forms()|length}}</td>
        <td>{{user.is_admin()}}</td>
    </tr>
    {% endfor %}
    </table>

    </div>
</div>
</div>

<script>
$(document).ready(function() {
    $('#users').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#users").show();
        },
        "order": [[1, 'desc']],
    });
} );
</script>
  
{% endblock %}
