{% extends "base.html" %}
{% block content %}

{% set total_entries = form.get_total_entries() %}

<div class="container">
<div class="row">
<div class="col-md-3"></div>
    
<div class="col-md-5">

    <div class="title_1 delimited">{%trans%}Delete entries{%endtrans%}</div>    
    <div class="title_2">{%trans%}Form{%endtrans%}: {{ form.slug }}</div>

    {%trans%}You are going to delete{%endtrans%}
    {{total_entries}} {%trans%}entries{%endtrans%}.
    <p></p>
    
    {%trans%}Write the total number of entries below{%endtrans%}.
    <p></p>
    
    <div class="title_3">{{total_entries}}</div>  
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="text" name="totalEntries" class="form-control" required ><br />
        <p></p>
        <input class="btn-danger btn" type="submit" value="{%trans%}Delete entries{%endtrans%}">
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms/entries/{{form.id}}'">
    </form>
</div>

</div>
</div>

{% endblock %}
